.main--benefits-container-card {
  width: 80%;
  min-width: 100px;
  max-width: 350px;
  height: 150px;
  margin: 15px auto;
  padding: 20px 10px 0px 15px;
  background-color: var(--warm-black);
  border-radius: 5px;
}

.main--benefits-container-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 10px 0;
  line-height: 1.8rem;
}

.main--benefits-container-card p {
  font-size: 1.4rem;
  color: #808080;
  font-weight: 500;
  line-height: 1.8rem;
}

.slideanim {
  visibility: hidden;
  visibility: visible\9; /*For old IE browsers IE6-8 */
}
.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 768px) {
  .main--benefits-container-card {
    width: 250px;
  }
}
@media only screen and (min-width: 1000px) {
  .main--benefits-container-card {
    width: 80%;
  }
}
